<!-- <p>logincomponent works!</p> -->

<div class="container" style="width: 700px;">
    <br>
    <h3>LOGIN</h3>
    <hr>
  <form >
      <input type="text" class="form-control" placeholder="Enter Username" formControlName="username"> <br>
      <input type="text" class="form-control" placeholder="Enter Password" formControlName="password"> <br>
      <br>
    
      <input class="btn btn-primary" style="width: 700px;" type="submit" routerLink="/loginsuccess" value="LOGIN">
    </form>
    </div>
    <br>
    <hr>
    <br>